.all{
    position: absolute;
}
.españa-roja{
    background-color: red;
    height: 250px;
    width: 400px;
    z-index: 0;
    position: absolute;
}

.españa-amarilla{
    background-color:yellow;
    height: 100px;
    width: 400px;
    z-index: 1;
    position: absolute;
    margin-top: 75px;
    
}

.cont-españa{
    position: relative;
}

.cont-dinamarca{
    position: relative;
    left: 500px;
}

.dinamarca-roja{
    background-color: red;
    width: 400px;
    height: 250px;
    position: absolute;
    z-index: 3;
}

.dinamarca-primera-blanca{
    background-color: white;
    width: 400px;
    height: 20px;
    position: absolute;
    z-index: 4;
    margin-top: 110px;
}

.dinamarca-segunda-blanca{
    background-color: white;
    width: 20px;
    height: 250px;
    position: absolute;
    z-index: 5;
    margin-left: 100px;
}

.cont-emiratos{
    position: relative;
    top: 300px;
}

.emiratos-verde{
    background-color:green;
    width: 400px;
    height: 250px;
    position: absolute;
    z-index: 6;
}

.emiratos-primera-blanca{
    background-color: white;
    width: 400px;
    height: 80px;
    position: absolute;
    z-index: 7;
    margin-top: 84px;
}

.emiratos-segunda-negra{
    background-color: black;
    width: 400px;
    height: 85px;
    position: absolute;
    z-index: 8;
    margin-top: 164px;
}
.emiratos-tercera-roja{
    background-color:red;
    width: 85px;
    height: 250px;
    position: absolute;
    z-index: 9;
    margin-left: 0px;
}

.cont-japon{
    position: relative;
    top: 300px;
    left: 500px;
    
}

.japon-blanco{
    background-color: white !important;
    width: 400px;
    height: 250px;
    position: absolute;
    z-index: 7;
    border: 1px solid black;
  
}

.japon-circulo{
    background-color:red;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 9;
    margin-left: 150px;
    margin-top: 70px;
    border-radius: 50px;
}

.cont-islandia{
    position: relative;
    top: 600px;
}

.islandia-roja{
    background-color: rgb(15, 15, 168);
    width: 400px;
    height: 250px;
    position: absolute;
    z-index: 3;
}

.islandia-primera-blanca{
    background-color: white;
    width: 400px;
    height: 50px;
    position: absolute;
    z-index: 4;
    margin-top: 100px;
}

.islandia-segunda-blanca{
    background-color: white;
    width: 50px;
    height: 250px;
    position: absolute;
    z-index: 4;
    margin-left: 90px;
}

.islandia-tercera-roja{
    background-color:red;
    width: 400px;
    height: 30px;
    position: absolute;
    z-index: 5;
    margin-top: 110px;
}

.islandia-cuarta-roja{
    background-color: red;
    width: 30px;
    height: 250px;
    position: absolute;
    z-index: 5;
    margin-left: 100px;
}

.primeras-banderas,.cont-españa,.cont-dinamarca,.cont-emiratos,.cont-japon{
    float: left;
}